*{
  font-family: avenir,"Century Gothic";
}

button{
  outline: none !important;
}

body {
  padding-top:50px;
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image:url('main_background_blur.jpg');
  
}


/* STYLE LESS THAN MD SIZE BS */

@media only screen and (max-width: 769px) {
  div.notfound .notfound-404 {
    height: 115px ;
  }
  div.notfound .notfound-404 h1 {
    font-size: 86px;
  }
  div.notfound .notfound-404 h1>span {
    width: 86px ;
    height: 86px;
  }

  .push-md-1{
    order:1;
  }

  .push-md-2{
    order:2;
  }

  div.menu-req-div{
    display:block;
    position:sticky;
    top:0;
  }

  .req-tabs-responsive{
    box-shadow: 5px 0px 8px lightgray;
    position:absolute;
    z-index:10;
  }

  .req-tabs-ori{
    display:none;
    position:sticky;
    top:75px; 
  }

  .req-tab > p{
    flex:4;
  }

  .left-side-req-card{
    position:relative;
    flex:0.4;
    transition:flex 1s ease;
  }
}


@media only screen and (min-width: 768px){
  .left-side-req-card{
    flex:1 !important;
  }


  .req-tabs-ori{
    display:block !important;
    position:sticky;
    top:0px;
  }
}

 /* END STYLE LESS THAN MD SIZE BS */

@media only screen and (max-width: 980px){
  img.panel-img{
    right: 0 !important; 
    bottom:22% !important;
    width:calc(250px + 5vw) !important;
  }
  img.panel-img-patient{
    right: 0 !important; 
    bottom:36% !important;
    width:calc(250px + 5vw) !important;
  }
  div.hidden-beta-message{
    right:0 !important;
    bottom:20% !important;
  }

  div.hidden-beta-message-patient{
    right:-6% !important;
    bottom:35% !important;
  }
}

img.panel-img-patient{
    width:calc(300px + 5vw);
    height:auto;
    position:absolute;
    transition:.8s ease;
    cursor:pointer;
    bottom:20%;
    right:8%;
    opacity:0.65;
}

img.panel-img{
    width:calc(300px + 5vw);
    height:auto;
    position:absolute;
    transition:.8s ease;
    cursor:pointer;
    bottom:7.5%;
    right:8%;
    opacity:0.65;
}

img.panel-img:hover, img.panel-img-patient:hover{
  opacity:1;
  transform: translateY(-70px);
}

div.hidden-beta-message,div.hidden-beta-message-patient > * {
  font-size:calc(.75em + .25vw);
  opacity:0.75;
}

div.hidden-beta-message{
  transition:.5s ease;
  position:absolute;
  bottom:4%;
  right:15%;
}

.alert-patient{
  background-color:#c5cae9;
  border-radius:.25em;
  padding:15px;
}

div.hidden-beta-message-patient{
  transition:.5s ease;
  position:absolute;
  bottom:20%;
  right:9%;
}

ul.doctor-list-benefits{
  border: 0 .5px .5px .5px solid lightgray;
  border-radius:.25em;
  margin:10px;
}

ul.doctor-list-benefits > li{
  color:#fafafa;
  text-shadow: hsl(3, 47%, 82%) 0.5px 0 5px;
  font-size:calc(.75em + 0.7vw);
}

b.good-news-doctor{
  font-size:calc(1em + .7vw);
  color:#fafafa;
  text-shadow: hsl(3, 47%, 82%) 0.5px 0 5px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.float-center{
  float:center;
}

.fweight-700{
  font-weight: 700;
}

.fweight-500{
  font-weight: 500;
}

.center{
  align-items: center;
  text-align:center;
}

.align-vertical{
   vertical-align: middle;
}

.align-vertical-10{
   vertical-align: middle;
   line-height:30px;
   padding-top:10px
}


.align-vertical-2{
  vertical-align: middle;
  line-height:23px;
  padding-top:2px
}

.align-vertical-5{
  vertical-align: middle;
  line-height:30px;
  padding-top:5px
}

.align-vertical-6{
  vertical-align: middle;
  line-height:30px;
  padding-top:6px
}

.inline-block{
  display:inline-block;
}

.bg-psyfy-page-title{
  background:transparent;
}




.bg-psyfy-navbar{
  transition: background-color 0.25s ease-out;
  background-color:transparent;
  /* linear-gradient(150deg, rgba(43,37,120,1) 0%, rgba(106,12,66,1) 28%, rgba(43,37,120,1) 69%, rgba(4,0,33,1) 100%) */
  /* background-color: #9645ff; */
  /* background: rgb(106,12,66);
  background: linear-gradient(150deg, rgba(106,12,66,1) 0%, rgba(81,57,108,1) 28%, rgba(43,37,120,1) 69%, rgba(4,0,33,1) 100%); */
}

.bg-psyfy-footer{
  background:transparent;
}

.footer-borders{
  border-top: .2px solid rgba(255, 255, 255, .65);
  border-bottom: .2px solid rgba(255, 255, 255, .65);
  padding:25px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  width:97.6%;
}

ul.links-footer{
  font-size:1.15em;
}

a.link-footer-href{
  color: #eceff1;
  opacity: 0.65;
  transition: .1s ease;
}


.links-footer a:hover{
  opacity:1;
}

ul.links-footer > li {
  margin: 7.5px;
}

span.footer-link-txt{
  position:relative;
  top:3px;
} 

.bg-transparent{
  background-color:transparent;
}

.bg-psyfy-body{
  background-color: white;
}

.text-bold-white{
  font-weight:900;
  color:white;
  text-shadow: hsl(3, 47%, 82%) 1px 0 10px;
}

#page-title{
  display:table-cell;
  font-weight:700;
  color:white;

}


.bg-white-on-hover:hover{
  background-color:white;
}

.text-bold-black{
  font-weight:700;
  color:black;
}
.fs12{
  font-size:12px !important;
}

.fs15{
  font-size:15px !important;
}

.fs20{
  font-size:20px !important;
}

.fs25{
  font-size:25px !important;
}

.fs35{
  font-size:35px !important;
}

.fs40{
  font-size:40px !important;
}

.align-text-right{
  text-align:right;
}

.align-text-left{
  text-align:left;
}

.align-text-center{
  text-align:center;
}


.camera-icon{
  font-size:90px;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

button.next-month-calendar{
  background: #c5cae9;
  opacity: 0.65;
  transition: 0.25s ease;
  outline: none;
}

button.next-month-calendar:hover{
  background: #7986cb;
  opacity: 0.9;
  transform: translateY(-5px);
}


button.next-tab-icon{
  background: #ef9a9a;
  opacity: 0.65;
  transition: 0.25s ease;
  outline: none;
}

button.next-tab-icon:hover{
  background: #ef5350;
  opacity: 0.9;
  transform: translateY(-5px);
}

.req-tabs{
  height:100%; 
  background: linear-gradient(270deg, #c5cae9,#9fa8da);
  border-radius: .25em 0 0 .25em;
}


.req-tab{
  transition:0.1s linear;
  transition-delay:0.1s;
  padding:20px 25px 0px 25px;
  border-bottom:2px solid gray;
  opacity:0.5;
  cursor:pointer;
  display:flex;
  padding-bottom:6px;
}

.home-page-section{
  min-height:90vh;
}



div.exp-panel{
  background: transparent;
  border:1px solid rgba(255,255,255, .25);
  position:relative;
}

h1.panel-title{
  font-size:calc(1.5em + 1vw);
}


.req-tab > p {
  margin-top: 10px;
  color:white;
  flex:1.2;
  transition:0.1s ease-in-out;
}
.active-tab{
  opacity:1;
}

.active-tab > p{
  border-bottom:2.5px solid #ef5350;
  margin-top: 5px;
}
.client-focus-edit-space{
  position: relative;
  top: 8px;
}

.br5{
  border-radius:5px;
}

.br10{
  border-radius:10px;
}

.br15{
  border-radius:15px;
}

.br30{
  border-radius:30px;
}

.thumbsup-icon{
  font-size:65px;
  color:#e67575;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.general-edit-icon {
  cursor:pointer;
}

.forgot-password-body{
   min-height: 90vh; position: relative; top: 27.5vh;
}

.general-edit-icon:hover {
  color:#4d7be8;
}

.thumbsdown-icon{
  font-size:65px;
  color:#4298f5;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}


#therapist-card{
  max-width: 17em;
  height:265px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  background-color:"#f5f2f5";
  border-style:"ridge";
  min-width: 17em;
}

#therapist-card-v2{
  width: 16em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:"#f5f2f5";
  border-style:"ridge";
}

.bt{
  border-top:1px solid lightgray;
}

.bb{
  border-bottom:1px solid lightgray;
}

.scrollbox {
  overflow-y: auto;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.border-top-gray{
  border-top:1px solid gray;
}

.scrollbox-terms-cond{
  overflow-y: auto;
  height: 14em;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}


.about-you-body{
  border: 0.6px solid lightgray;
  height: 500px;
  transition: box-shadow, border;
  border-radius:10px;
  transition-duration: 0.25s, 0s;
  margin:10px 0 20px 0;
  padding:10px;
}

.margin-auto{
  margin:auto;
}


.about-you-body:focus{
  outline: none;
  border: 0.5px groove #ffcdd2;
  box-shadow:0px 0px 3px 4px lightgray;
}


.shadow{
  box-shadow: 2px 2px 2px 2px #fff;
}

#therapist-card:hover img{
  opacity: 0.3;
}

#therapist-card:hover .hover-img{
  opacity: 1;
}

#therapist-card img{
  max-width: 100%;
  max-height: 100%;
  height:325px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.box-shadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.hover-img {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.border-bottom{
  border-bottom:1px solid black;
}

.border-top{
  border-top:1px solid black;
}

.border-5-black{
  border-width:5px !important;
  border-color:black !important;
  border-style: solid;
}

.border-3-black{
  border-width:3px !important;
  border-color:black !important;
  border-style: solid;
}

.border-2-black{
  border-width:2px !important;
  border-color:black !important;
  border-style: solid;
}

.border-5{
  border-width:5px !important;
  border-color:white !important;
  border-style: solid;
}

.border-3{
  border-width:3px !important;
  border-color:white !important;
  border-style: solid;
}

.border-2{
  border-width:2px !important;
  border-color:white !important;
  border-style: solid;
}

a {
    text-decoration: none !important;
}

.m20{
  margin:20px;
}

.m3{
  margin:3px;
}

.m5{
  margin:5px;
}

.m10{
  margin:10px;
}

.m15{
  margin:15px;
}

.m30{
  margin:30px;
}
.m40{
  margin:40px;
}
.m50{
  margin:50px;
}


.mr3{
  margin-right:3px;
}

.mr5{
  margin-right:5px;
}

.mr10{
  margin-right:10px;
}

.mr15{
  margin-right:15px;
}


.mr20{
  margin-right:20px;
}


.mr30{
  margin-right:30px;
}

.mr35{
  margin-right:35px;
}

.ml5{
  margin-left:5px;
}

.ml10{
  margin-left:10px;
}
.ml15{
  margin-left:15px;
}

.ml17{
  margin-left:17px;
}

.ml20{
  margin-left:20px;
}

.ml30{
  margin-left:30px;
}


.ml35{
  margin-left:35px;
}

.ml40{
  margin-left:40px;
}

.mt5{
  margin-top:5px;
}

.mt7{
  margin-top:7px;
}

.mt9{
  margin-top:9px;
}

.mt10{
  margin-top:10px;
}

.mt12{
  margin-top:12px;
}

.mt13{
  margin-top:13px;
}

.mt14{
  margin-top:14px;
}

.mt15{
  margin-top:15px;
}

.mt16{
  margin-top:16px;
}

.mt20{
  margin-top:20px;
}
.mt25{
  margin-top:25px;
}

.mt26{
  margin-top:26px;
}

.mt30{
  margin-top:30px;
}

.mt40{
  margin-top:40px;
}

.mt50{
  margin-top:50px;
}

.mt60{
  margin-top:60px;
}

.mt80{
  margin-top:80px;
}

.mt100{
  margin-top:100px;
}

.mb10{
  margin-bottom:10px;
}

.mb20{
  margin-bottom:20px;
}

.mb30{
  margin-bottom:30px;
}

.mb40{
  margin-bottom:40px;
}

.mb50{
  margin-bottom:50px;
}

.mb60{
  margin-bottom:60px;
}

.mb80{
  margin-bottom:80px;
}


.mb120{
  margin-bottom:120px;
}


.pr10{
  padding-right:10px;
}

.pr20{
  padding-right:20px;
}

.p1{
  padding:1px;
}


.p2{
  padding:2px;
}
.p3{
  padding:3px;
}

.p5{
  padding:5px;
}

.p6{
  padding:6px;
}

.p10{
  padding:10px;
}

.p12{
  padding:12px;
}

.p15{
  padding:15px;
}

.p20{
  padding:20px;
}
.p30{
  padding:30px;
}
.pr5{
  padding-right:5px;
}

.pl5{
  padding-left:5px;
}

.pl10{
  padding-left:10px;
}
.pl20{
  padding-left:20px;
}

.pt5{
  padding-top:5px;
}

.pt10{
  padding-top: 10px;
}

.pt15{
  padding-top: 15px;
}

.pt20{
  padding-top: 20px;
}
.pt30{
  padding-top: 30px;
}
.pb5{
  padding-bottom:5px;
}

.pb10{
  padding-bottom:10px;
}

.pb20{
  padding-bottom:20px;
}
.pb30{
  padding-bottom:30px;
}

.pb40{
  padding-bottom:40px;
}

.pb45{
  padding-bottom:45px;
}

.w90{
  width:90px
}

.w100{
  width:100px
}

.w150{
  width:150px
}

.w130{
  width:130px
}

.w120{
  width:120px
}

.underline{
  text-decoration:underline;
}

.justify-between{
  display:flex;
  justify-content: space-between;
}



.flex-column{
  display:flex;
  flex-direction: column;
}

.flex-column > *{
  margin:2px 0 2px 0;
}

.button-update-preview{
  background-color: #e8eaf6;
  transition: 0.6s;
  border-style:none;
  border-radius: 40px;
  font-size:1.2em;
  width:150px;
  height: 50px;
  border: none;
  background: linear-gradient(90deg, #c5cae9,#9fa8da,#ffcdd2, #ef9a9a);
  background-size: 250%;
  color: #fff;
  outline: none;
  cursor: pointer;
  height:35px;
}






.justify-center{
  display:flex;
  justify-content: center;
}

.justify-end{
  display:flex;
  justify-content:flex-end;
}


.flex-1{
  flex:1;
}

.flex-2{
  flex:2;
}
.flex-3{
  flex:3;
}

.justify-end > *{
  margin-right:20px;
}

.justify-start{
  display:flex;
  justify-content: flex-start;
}

.justify-start > *{
  margin-right:20px;
}


.justify-around{
  display:flex;
  justify-content: space-around;
}

.blue-href{
  cursor:pointer;
  color:blue;
}

.blue-href:hover{
  text-decoration:underline;
}


.login-button-nav{
  margin-top:12px;
  cursor:pointer;
  color:#e5ebee;
  font-size:18px;
}

.silver-color{
  color:#e5ebee;
}


.number-tab{
    filter:invert(92%);
    height:32px;
    margin-right:30px;
    margin-top:3px;
}

.invert-60{
  filter: invert(60%);
}

.rotate-180{
  transform: rotateY(180deg);
}


.login-button-nav:hover{
  color:white;
}

.w350{
  width:350px;
}

.w375{
  width:375px;
}

.w400{
  width:400px;
}

.w200{
  width:200px
}

.w100c{
  width:100%;
}

.w50c{
  width:50%;
}

.w60c{
  width:60%;
}

.w80c{
  width:80%;
}
.w70c{
  width:70%;
}

.pointer{
  cursor:pointer;
}

input[type="file"] {
    display: none;
}

.hidden{
  display:none !important;
}

div.autocomplete-dropdown-container{
  padding:5px;
  border: 1px solid lightblue;
  position:absolute;
  z-index:10;
  overflow-y:auto;
  max-height:135px;
  background:white;
}



#toggle-button{
  background-color: white;
}

#toggle-button:focus,#toggle-button:active {
  outline: none !important;
  box-shadow: none;
}

#toggle-button:hover{
  background-color: lightgray;
}

#display-right-for-40 {
  display: block;
}


#hide-left-for-40{
  display: none;
}


@media only screen and (max-width: 48em) {
      #display-right-for-40 {
        display: none;
      }

      #hide-left-for-40{
        display: block;
      }
  }

@media only screen and (max-width: 75em) {
  .w200.shrink{
    width:160px;
  }
}



@media only screen and (max-width:61.95em){
  .top{
    order:1;
  }

  .bot{
    order:2;
  }
}

.align-responsive{
  text-align:left;
}

@media only screen and (max-width:47.9em){
  .top{
    order:2;
  }

  .bot{
    order:1;
  }

  .align-responsive{
    text-align:center;
  }
}

#overview-preview-card{
  width:38rem;
}

@media only screen and (max-width:39em){
  #therapist-card{
    display:none;
  }
  #overview-preview-card{
    width:100em;
  }

  .shrink-w100-sm{
    width:100px !important
  }

}

.overview-preview-wrap{
  padding-left:0px;
  padding-right:0px;
  margin-top: 20px;
}

.overview-trailer-wrap{
  padding-left:0px;
  padding-right:0px;
  align-items:center;
  margin-top:20px;
}

.responsive-md-width{
  width:100%;
}





@media screen and (max-width: 990px){
  .overview-trailer-wrap{
    margin-top:0px;
  }

  .responsive-md-width{
    width:55em;
  }
}

@media screen and (max-width: 850px){
  .responsive-md-width{
    width:100%;
  }
}


.overview-section-title{
  height:50px;
  border-bottom:1px solid lightgray;
}

.search-preview-wrap{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index:10000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  cursor:pointer;
}

.overlay > div{cursor:initial;} 

.schedule-row-active{
  cursor:pointer;
  border-top:1px solid lightgray;
}

div.week-select{
   margin-top:3px;
   height:36px;
   width:120px;
   cursor:pointer;
   border:1px solid lightgray;
}

div.week-select span{
  padding:5px 10px 5px 10px;
  box-shadow: 0px 0px 2px 1px lightgray;
  transition: 0.5s ease;
}
div.week-select span:hover{
    box-shadow: 0px 0px 6px 4px lightgray;
}


div.week-select .week-options-wrap{
  position:absolute;
  border:1px solid lightgray;
  background-color: white;
  top:46px;
  z-index:1;
}

div.week-select .week-options-wrap .week-options{
  transition: background 0.25s ease-in-out;
  padding:0px 5px 0px 5px;
}

div.week-select .week-options-wrap .week-options:hover{
  border-top:1px ridge lightgray;
  border-bottom:1px ridge lightgray;
  background:#cde9f7;
  padding:5px;
  box-shadow: 0px 0px 6px 4px lightgray;
}


.schedule-row-non-active{
  opacity:0.7 !important;
  border-top:1px solid lightgray;
}

#req-about{
  min-height:10em;
  height:auto;
}

.schedule-row-active:hover{
  background:#e6e6e6;
}

.schedule-row-active:hover .set-start-block{
  display:block;
}

.schedule-row-active:hover .set-end-block{
  display:block;
}

.schedule-row-active:hover .cancel-set-start-block{
  display:block;
}

.schedule-row-active:hover .schedule-row-description{
  display:none;
}


.schedule-day{
  margin:0 10px 10px 20px;
  padding:10 10px 10px 10px;
  border-radius:2px;
  border-left:1px solid lightgray;
  border-bottom:1px solid lightgray;
  border-right:1px solid lightgray;
  border-top:1px solid lightgray;
}

.schedule-day > div{
  padding:8px;
}


.overlay-content-schedule{
  width:65vw;
  position: relative;
  left:50%;
  transform:translate(-50%, -50%);
  top:50%;
  text-align: center;
  border: 1 solid lightgray;
}



.set-start-block{
  display:none;
  border-radius:15px;
  border:1px solid #41a82f;
  color:#7c8191;
  font-size:13px;
  outline:none !important;
  padding:4px 8px 2px 8px;
  transition: 0.5s ease;
}

.color-green{
  background-color:#a9ed9d;
}

.btn-outline-success:hover{
  background-color:#a9ed9d;
}


.color-green:hover{
  background-color:#a9ed9d;
  opacity:1
}

.card{
  border-radius:0;
  opacity:0.75;
}


.set-start-block:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #a9ed9d;
}

.cancel-set-start-block{
  display:none;
  border-radius:15px;
  color:#7c8191;
  font-size:13px;
  outline:none !important;
  padding:4px 8px 2px 8px;
  transition: 0.5s ease;
  border:1px solid red !important;
}

.cancel-set-start-block:hover{
  background:#ffd1d2 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.overlay-box-schedule{
  width:100%;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:white;
  max-height:75vh;
  overflow:auto;
}

.schedule-style{
  border-right:2px solid gray;
  padding:5px;
  overflow-y: auto;
  overflow-x: hidden;
  height:380px;
}
 


.schedule-overlay-header{
  border-radius: 5px 5px 0 0;
  padding:8px 8px 0px 8px;
  border-bottom:2px solid gray;
}



.overlay-box-preview{
  width:100%;
  padding:15px;
  height:auto;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#e6e6e6;
  max-height:75vh;
  overflow:auto;
}

.overlay-content-preview {
  width:75vw;
  position: relative;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
  text-align: center;
  margin: 5px 0px 20px 0px;
}

.overlay-content-login {
  min-width:250px;
  width:80%;
  max-width:400px;
  position: relative;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
}

.overlay-content-request{
  width:75vw;
  max-height: 75vh;
  position: relative;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.schedule-plan-style{
  margin:5px 15px 0 0;
}

.schedule-plan-style-responsive{
  overflow-y:auto;
  overflow-x: hidden;
  height:380px;
}

.flex-wrap{
  flex-wrap:wrap;
}

#notfound {
  position: relative;
  height: 100vh;
}

div.call-mail-wrapper{
  flex-wrap:wrap;
  margin-top:20px;
  display:flex;
  justify-content:space-around;
}

.card-degree-title{
  font-weight:700;
  font-size:1.2em; 
}

.card-spec-title{
  font-size: 1em;
}

div.call-mail-wrapper > a{
  margin:6px; 
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1>span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  z-index: -1;
}


.notfound a {
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}


.edit-num-format-overview{
  width: 55px; 
  position: relative;
  bottom: 8px;
}


.galery{
  width: 100%; 
  display: block;
  max-width: 100%;
  min-height: 250px;
  max-height:32em;
}

.galery-img{
  display: block;
  height: auto;
  max-width: 100%;
  max-height:32em;
  width: 100%;
  min-height: 250px;
}

.pay-by-input{
  padding:5px;
  width:auto;
  height:25px; 
  color:gray;
}

.galery-bg{
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image:url('main_background_blur.jpg');
}

.empty-galery{
  align-items: center;
  justify-content: center;
  min-height: 250px;
  height:330px;
  display: flex;
}

.empty-galery > div{
  font-size:calc(1.2em + 1vw);
  font-weight:900;
  opacity: 0.9 ;
}

.galery-item-description{
  color: white;
  text-shadow:
   -.5px -.5px 0.5px #000,  
    .5px -.5px 0.5px #000,
    -.5px .5px 0.5px #000,
     .5px .5px 0.5px #000;
  padding:10px;
}


.add-item-galery{
  z-index: 1000; 
  position: absolute; 
  bottom: 10px; 
  right: 15px;
}

.update-galery-description{
  z-index: 1000; 
  position: absolute; 
  bottom: 12.5px; 
  left: 85px;
}

button.email-me-but{
  background:#9fa8da;
  opacity:0.65;
  transition: 0.25s ease;
  width:calc(170px + 0.5vw);
}

.card-location-title{
  margin:10px 0 0 4px;
  font-size: .9em; 
}

.card-qualification-title{
  display:flex;
  justify-content: space-between;
  margin-top:14px;
  font-size: 1.05em; 
}

button.call-me-but{
  width:calc(170px + 0.5vw);
  background:#ef9a9a;
  opacity: 0.65;
  transition: 0.25s ease;
}

button.call-me-but:hover{
  background: #ef5350;
  opacity: 0.85;
  transform:translateY(-5px);
}

button.email-me-but:hover{
  background:#5c6bc0;
  opacity: 0.85;
  transform:translateY(-5px);
}

button.update-galery-description-icon{
  outline: none; 
  background-color: #fff176; 
  opacity: 0.8; 
  transition: 0.5s ease;
}

button.update-galery-description-icon:hover{
  background-color: #ffeb3b; 
  transform: translateY(-5px);
}



button.add-item-galery-icon{
  outline: none; 
  background-color: #9fa8da; 
  opacity: 0.8; 
  transition: 0.5s ease;
}

button.add-item-galery-icon:hover{
  background-color: #5c6bc0; 
  transform: translateY(-5px);
}

button.del-item-galery-icon{
  outline: none; 
  background-color: #ef9a9a;
  opacity: 0.8; 
  transition: 0.5s ease;
}

button.del-item-galery-icon:hover{
  background-color: #ef5350;
  transform: translateY(-5px);
}
.add-file-galery{
  visibility:hidden;
}

.del-item-galery{
  z-index: 1000; 
  position: absolute; 
  bottom: 10px; 
  left: 15px;
}

@media screen and (max-width:540px){
  div.home-intro-search-opener{
    top:0;
  }
  section.adv-cards-section{
    margin-top:40px;
  }

  .remove-padding-sm{
    padding:0 !important;
  }
}

@media screen and (max-width:575px){
  .schedule-plan-style{
    margin:5px 0px 0 0;
  }

  .intro-buttons-wrap{
    position: relative;
    bottom:50px;
  }

  div.align-on-md-home-intro{
    position:relative;
    bottom:40px;
  }

  .responsive-dropdown-logged-navbar{
    transform:translate(-72px, 0.6px);
    font-size: 13px; 
  }

  .schedule-style{
    border:none;
    border-top: 2px solid gray;
    margin:15px;
    order:2;
  }

  .column-wrap-sm{
    flex-flow: column wrap;
  }

  .schedule-day{
    margin:0 5px 5px 5px;
  }

  .schedule-plan-style-responsive{
    margin:5px 15px 5px 15px;
    height:auto;
    order:1;
  }

}

@media screen and (max-height: 640px){
  .overlay-content{
    margin: 40px 0px 40px 0px;
  }
}

@media screen and (max-height: 430px){
  .overlay-content{
    margin: 80px 0px 40px 0px;
  }
}

.radius-button{
  border-radius:20px;
  color:white;
}

.question-mark{
  padding-bottom:8px;
  cursor:pointer;
}


[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

.summary-box{
  padding:5.5px;
}

.summary-box-editing{
  outline: none !important;
  border:1px solid lightgray;
  box-shadow: 0 0 3px lightgray;
  border-radius: 4px;
  cursor:text;
}


input{
  outline: none;
}

#youtube-url-input{
  box-shadow: 0 0 7px gray;
  border:1px solid lightgray;
  margin-bottom:1px;
}

.fade-in {
    -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 1s linear forwards;
    animation-delay:1s;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  100% { opacity: 1; }
}

@keyframes fadeinout {
  100% { opacity: 1; }
}


.expand{
  animation: expand;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
}

@-webkit-keyframes expand {
  0% { height: 0; }
}

@keyframes expand {
  100% { height: 100; }
}



.block-horizontal-scroll{
  max-width: 100%;
  overflow-x: hidden;
}


.login-card{
  background-color: white;
  padding:20px;
  border-radius:.25em;
  height:auto;
  max-height:75vh;
  overflow-y:auto;
}

.login-input{
  border-bottom: 1px solid lightgray;
  border-top:none;
  border-right: none;
  border-left:none;
  font-size: 15px;
  outline: none;
  background: none;
  width: 92%;
  padding-left:35px;
  height: 40px;
  transition: .2s ease;
}



.login-input:hover{
  border-bottom: 2px solid #e57373;
}

.login-input:focus{
  border-bottom: 2px solid #e57373;
}

.logbtn{
  background-color: #ffebee;
  transition: 0.6s;
  border-style:none;
  border-radius: 40px;
  font-size:1.2em;
  width: 70%;
  height: 50px;
  border: none;
  background: linear-gradient(90deg,#ffcdd2, #ef9a9a, #c5cae9,#9fa8da);
  background-size: 250%;
  color: #fff;
  outline: none;
  cursor: pointer;
}


.logbtn-inverted{
  background-color: #e8eaf6;
  transition: 0.6s;
  border-style:none;
  border-radius: 40px;
  font-size:1.2em;
  width: 40%;
  height: 50px;
  border: none;
  background: linear-gradient(90deg, #c5cae9,#9fa8da,#ffcdd2, #ef9a9a);
  background-size: 250%;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.logbtn-inverted:hover{
  width:45%;
}


div.checkbox-search-home{
  position:relative;
  left:-7px;
  bottom:15px;
}



div.checkbox-search-home > b{
  font-size:1em;
  position:relative;
  top:3.5px;
}


.calendar-cell{
  cursor:pointer;
  height:auto;
}

.calendar-cell:hover{
  background:#e6e6e6;
}


.calendar-note-more{
  border-radius:8px;
  padding: 2px 10px 2px 4px;
  border-left:6px solid gray;
  background-color: lightgray;
  cursor:pointer;
  width:auto;
}

.calendar-note-busy{
  border-radius:8px;
  padding: 2px 10px 2px 4px;
  border-left:6px solid red;
  background-color: #ffd1d2;
  width:auto;
}

.busy-on-hover:hover{
  border-left:6px solid red;
  background-color: #ffd1d2;
}

div.busy-on-hover{
  position:relative
}

div.busy-on-hover > i {
  opacity:0;
  margin-left: 5px;
  font-size: 20px;
  transition: 0.5s ease;
  position:absolute;
  right:0px;
  bottom:0px;
}

div.busy-on-hover:hover > i{
  opacity:1;
  cursor:pointer;
}

.calendar-note-available{
  border-radius:8px;
  padding: 2px 10px 2px 4px;
  border-left:6px solid #41a82f;
  background-color: #a9ed9d;
  width:auto;
  transition: 0.75s ease;
  cursor:pointer;
}

@media only screen and (max-width: 800px){
  .overlay-content-schedule{
    width:85%;
  }
  .table-calendar-responsive{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.home-intro-search-opener{
    position:relative;
    top:10vh;
    transition: .4s ease, opacity 0.5s ease-out;
    animation-delay: 0.1s;
    animation-duration:0.5s;
    opacity: 0.6;
}

.home-intro-search-opener:hover{
  transform: translateY(-5px);
  opacity: 1;
}

.home-intro-search-closer{
    position:absolute;
    left:20px;
    top:37.5px;
    z-index:1;
}

.home-search-opener-wrap{
  display:none;
}

@media only screen and (max-width: 991px){
  div.home-right-side-wrap{
    margin:auto; 
    height:55vh;
    margin-top:35px;
  }

  .home-search-opener-wrap{
    display:block;
    width:100%;
  }

  div.align-on-md-home-intro{
    margin-left:25px;
  }


  .intro-buttons-wrap{
    margin-top:30px;
  }
}

.calendar-note-available:hover,.calendar-note-more:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.current-day-bg {
  height: 2.25em;
  width: 2.25em;
  margin-bottom:5px;
  background-color: #a3c8ff;
  border-radius: 50%;
  display: inline-block;
}

.current-day-number-two{
  position:relative;
  left:7.5px;
  top:6.5px;
}

.current-day-number-one{
  position:relative;
  left:12.5px;
  top:6.5px;
}


.table-fixed{
  table-layout:fixed;
}


.logbtn:focus,.logbtn-inverted:focus,.button-update-preview:focus{
  outline:none;
}

.logbtn:hover,.logbtn-inverted:hover, .button-update-preview:hover{
  background-position: right;
}

#file-icon, #file-icon-as-image{
  transition: .5s ease;
  transition-property: opacity;
  grid-column: 1;
  grid-row: 1;
}

#file-dialog{
  display: grid;
}

#file-dialog > i{
  grid-column:5;
  grid-row:1;
  margin-top:10px;
}

#file-dialog > #file-icon{
  opacity: 0;
}

#file-dialog > #file-icon-as-image{
  opacity:1;
}

#file-dialog:hover > #file-icon{
  opacity:0.6;
}
#file-dialog:hover > #file-icon-as-image{
  opacity:0;
}

.cursor-pointer{
    cursor:pointer;
}

.cursor-text{
    cursor:text;
}


.register-input{
  margin-top:15px;
  margin-left: 10px;
}

.req-card{
  border-color:lightgray;
  border-radius:.25em;
  overflow:auto;
  width:100%;
  max-height:80vh;
}

@media only screen and (max-width: 1024px) {
  .card{
    border-radius:4px;
  }
}

@media only screen and (min-width:1100px){
  .manage-credentials-paper{
      margin:50px 10%;
  }
}

@media only screen and (min-width:1250px) and (min-height:720px){
  .main-home-m-top-lg{
    margin-top:5%;
  }
}


.login-card-title{ 
  color:#111; 
  font-size: calc(24px + 1vw); 
  font-weight: 900; 
  letter-spacing: 0.5px; 
  line-height: 1; 
  text-shadow: 0 2px 5px lightgray;
  text-align: center; 
}


.home-adv-card{
  padding:1px;
  margin:10px 10px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}

img.adv-card-img {
  height:auto;
  width:100%;
  opacity:0.75;
  border-radius: .25em .25em 0 0;
}

h1.home-adv-card-titles{
  font-weight:900;
  color:#333;
  font-size:calc(1.5em + 1vw);
  text-align:center;
  position:relative;
  top:5px;
}

div.home-adv-card-desc{
  font-size:calc(13px + .25vw);
  font-weight:700;
  text-align:left;
  padding:5px 10px 10px 15px;
}


.home-right-side-wrap{
  margin:3em 10px 0 35px; 
}

#home-main-title{
  font-size:calc(2.15em + 1.25vw);
  line-height:calc(45px + 1vw);
}


p.main-home-description{
  line-height:calc(20px + .8vw);
  font-size:calc(0.75em + .8vw);
  font-weight:300;
  color:#fafafa;
  text-shadow: hsl(3, 47%, 82%) 0.5px 0 5px;
  padding:2.5px;
}

blockquote.footer-mission{
  font-size:1.25em;
  font-weight:300;
  color:#fafafa;
  text-shadow: hsl(3, 47%, 82%) 0.5px 0 5px;
  padding:0 30px 0 30px;
  text-align: left;
}

.home-search-paper{
  height:auto;
  opacity:0.70;
  padding:15px;
}

.manage-credentials-paper{
  opacity:0.70;
  height:auto;
}

.home-search-paper > h1{
  margin: .15em 0 .75em 0; 
}

.home-search-paper > div:nth-child(2){
  margin: 1.5rem 0 1.5rem 0; 
}
.home-search-paper > div:nth-child(3){
  margin: 1.5rem 0 1.5rem 0; 
}

.home-search-paper > div:nth-child(4){
  margin: 0 0 .5em 0; 
}

.home-search-paper > div:nth-child(5){
margin: 0 0 1rem 0; 
}

div.beta-testing-note-container{
  position:relative;
  bottom:15px;
  margin:20px;
  padding:10px 20px 7.5px 10px;
  border-radius:0;
  font-size:calc(.75em + .3vw);
  background:rgba(255,255,255, 0.4);
}

div.beta-testing-note-container > i{
  position:absolute;
  top:95%;
  right:-7px;
  font-weight:700;
  padding:5px 10px 5px 10px;
  border-radius:.25em;
  background:#ffdc8c;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


@media only screen and (min-width: 990px){
  .column-wrap-lg{
    flex-flow: column wrap;
  }
}

#tab-wrapper{
  padding:20px;
}


.right-side-req-card{
  flex:3;
}

#menu-req-but{
  transition:0.4s ease;
  z-index:1;
  outline:none;
  opacity:0.5;
}

#menu-req-but:hover{
  opacity:1;
}

.menu-req-div{
  position:sticky;
  top:0px;
  padding:10px;
  display:none;
  border-bottom:2px solid gray;
}


.reg-input{
  font-size: 16px !important;
  box-shadow: 0 1px 0 0 lightgray;
  border-width: 0.6px;
  border: block;
  border-color: #9e00be6c;
  border-radius:15px;
  font-size: 15px;
  width: 100%;
  outline: 0;
  padding: 1%;
  height: 40px;
}

.reg-input:hover{
  box-shadow: 0 1.5px 0 0 #9f00be;
  border-color: #9f00be;
}

.reg-input:focus{

  outline: none !important;
  box-shadow: 0 3px 0 0 #9f00be;

}

.reg-check-box{
  margin:15px;
  padding-top: 1px;

}

.regbtn{
  border-radius: 40px;
  width: 40%;
  height: 50px;
  border: none;
  background: linear-gradient(90deg,#eb8ff3,#9f00be,#4b0669);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .6s;
}

.regbtn:hover{
  background-position: right;
}

.login-input-icon{
  position: absolute;
  pointer-events: none;
  z-index:7;
  font-size:25px;
}


.circle-loader {
  margin-top: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #7986cb;
  animation: loader-spin 1.2s infinite linear;
  display:inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-search-card-title{
  font-size:calc(1.7rem + 0.5vw);
  text-align:left;
  font-weight:900;
  text-shadow: 2px 2px 2px 2px lightgray;
  padding:0 1.75px 0 1.75px;
}

b.explore-label-home{
  position:relative;
  left:2.5px;
  top: 2.5px;
}

.home-search-datetime-textfiled{
  margin:5px !important;
  width:50%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic- bezier(.25, .8, .25, 1);
}


.sign-dropdown{
  transform:translateX(-60px);
  font-size: 13px; 
  margin-top: -1px; 
}

span.dropdown-item{
  color: gray;
}

span.dropdown-item:hover{
  background:white;
  color:gray;
}

span.dropdown-item:focus{
  color:gray;
  background:white;
}

.card-header > span{
  position:relative;
  top:8px;
  font-weight:900;
}

.tagsinput-wrap {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius:3px;
  overflow: hidden;
  position:relative;
  bottom:3.5px;
}

.tagsinput--focused {
  border-color: #a5d24a;
}

.tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
  height:30px;
}

.tagsinput-tag a::before {
  content: " ×";
  cursor:pointer;
}

.tagsinput-input {
  border-radius: 2px;
  background: transparent;
  border: 0;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding: 5px;
  margin:5px;
  width: auto;
  height:20px;
}


.active-editor{
  background: lightgray !important;
}


.speciality-body{
  display:flex;
  flex-wrap:wrap;
  padding:10px 5px 10px 5px;
}

.speciality-body > div{
  margin:1.5px 0 1.5px 0;
}

.flex-break{
  flex-basis: 100%;
  height: 0;
}

.speciality-bullet{
  font-size:1px;
  position:relative;
  top:-1.75px;
}


h1.req-tab-title{
  font-weight: 900;
  color:#333;
}

div.home-deck-row{
  margin:0 15px 15px 15px;
}


.decoration-manage-credentials-right{
  position:absolute;
  height:100%;
  width:100%;
  clip-path: circle(20% at 100% 100%);
  background: linear-gradient(90deg,#9fa8da, #9fa8da);
  bottom:0;
  z-index:-1;
}
.decoration-manage-credentials-left{
  position:absolute;
  height:100%;
  width:100%;
  clip-path: circle(30% at 70% 100%);
  background: linear-gradient(90deg, #ffcdd2,#ef9a9a);
  top:0;
  z-index:-1;
}
.decoration-manage-credentials-center{
  position:absolute;
  height:100%;
  width:100%;
  clip-path: circle(10.0% at 100% 0%);
  background: linear-gradient(90deg, #ffcdd2,#ef9a9a);
  top:0;
  z-index:-1;
<<<<<<< HEAD
}
=======
}

.footer-links-responsive{
  text-align:center;
  /* text-align: left;
  position: relative;
  left:5%; */
}
>>>>>>> parent of 7a8eb74... terms and conditions updated and style changes
