


*{
  font-family:"avenir";
  font-family: "Century Gothic";
}


body {
    padding-top: 150px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.float-center{
  float:center;
}

.fweight-700{
  font-weight: 700;
}

.fweight-500{
  font-weight: 500;
}

.center{
  align-items: center;
  text-align:center;
}

.align-vertical-10{
   vertical-align: middle;
   line-height:30px;
   padding-top:10px
}


.align-vertical-2{
  vertical-align: middle;
  line-height:23px;
  padding-top:2px
}

.align-vertical-5{
  vertical-align: middle;
  line-height:30px;
  padding-top:5px
}

.align-vertical-6{
  vertical-align: middle;
  line-height:30px;
  padding-top:6px
}

.inline-block{
  display:inline-block;
}

.bg-psyfy-page-title{
  background-color:#c878fa;
}

.bg-psyfy-navbar{
  background-color: #9d05f0;
}

.bg-psyfy-footer{
  background-color: #9875d1;
}

.bg-psyfy-body{
  background-color: white;
}

.text-bold-white{
  font-weight:700;
  color:white;
}


.bg-white-on-hover:hover{
  background-color:white;
}

.text-bold-black{
  font-weight:700;
  color:black;
}
.fs12{
  font-size:12px;
}

.fs15{
  font-size:15px;
}

.fs20{
  font-size:20px;
}

.align-text-right{
  text-align:right;
}

.align-text-left{
  text-align:left;
}

.align-text-center{
  text-align:center;
}


.camera-icon{
  font-size:90px;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.thumbsup-icon{
  font-size:65px;
  color:#e67575;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.thumbsdown-icon{
  font-size:65px;
  color:#4298f5;
  cursor:pointer;
  padding:15px;
  border-radius: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}


#therapist-card{
  max-width: 17em;
  height:265px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  background-color:"#f5f2f5";
  border-style:"ridge";
  min-width: 17em;
}

#therapist-card-v2{
  width: 16em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:"#f5f2f5";
  border-style:"ridge";
}

.bt{
  border-top:1px solid lightgray;
}

.bb{
  border-bottom:1px solid lightgray;
}

.scrollbox {
  overflow-y: auto;
  max-height: 10em;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
  linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

#therapist-card:hover img{
  opacity: 0.3;
}

#therapist-card:hover .hover-img{
  opacity: 1;
}

#therapist-card img{
  max-width: 100%;
  max-height: 100%;
  height:325px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.box-shadow{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.hover-img {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.border-bottom{
  border-bottom:1px solid black;
}

.border-top{
  border-top:1px solid black;
}

.border-5-black{
  border-width:5px !important;
  border-color:black !important;
  border-style: solid;
}

.border-3-black{
  border-width:3px !important;
  border-color:black !important;
  border-style: solid;
}

.border-2-black{
  border-width:2px !important;
  border-color:black !important;
  border-style: solid;
}

.border-5{
  border-width:5px !important;
  border-color:white !important;
  border-style: solid;
}

.border-3{
  border-width:3px !important;
  border-color:white !important;
  border-style: solid;
}

.border-2{
  border-width:2px !important;
  border-color:white !important;
  border-style: solid;
}

a {
    text-decoration: none !important;
}

.m20{
  margin:20px;
}

.m5{
  margin:5px;
}

.m10{
  margin:10px;
}

.m30{
  margin:30px;
}
.m40{
  margin:40px;
}
.m50{
  margin:50px;
}


.mr5{
  margin-right:5px;
}

.mr10{
  margin-right:10px;
}

.mr15{
  margin-right:10px;
}

.mr20{
  margin-right:20px;
}


.mr30{
  margin-right:30px;
}

.ml5{
  margin-left:5px;
}

.ml10{
  margin-left:10px;
}

.ml20{
  margin-left:20px;
}

.ml30{
  margin-left:30px;
}


.ml35{
  margin-left:35px;
}

.ml40{
  margin-left:40px;
}

.mt5{
  margin-top:5px;
}

.mt7{
  margin-top:7px;
}

.mt9{
  margin-top:9px;
}

.mt10{
  margin-top:10px;
}

.mt15{
  margin-top:15px;
}

.mt16{
  margin-top:16px;
}

.mt20{
  margin-top:20px;
}
.mt25{
  margin-top:25px;
}

.mt26{
  margin-top:26px;
}

.mt30{
  margin-top:30px;
}

.mt40{
  margin-top:40px;
}

.mt50{
  margin-top:50px;
}

.mt60{
  margin-top:60px;
}

.mb10{
  margin-bottom:10px;
}

.mb20{
  margin-bottom:20px;
}

.mb30{
  margin-bottom:30px;
}

.mb40{
  margin-bottom:40px;
}

.mb50{
  margin-bottom:50px;
}

.mb60{
  margin-bottom:60px;
}




.pr10{
  padding-right:10px;
}

.pr20{
  padding-right:20px;
}

.p1{
  padding:1px;
}


.p2{
  padding:2px;
}
.p3{
  padding:3px;
}

.p5{
  padding:5px;
}

.p6{
  padding:6px;
}

.p10{
  padding:10px;
}

.p12{
  padding:12px;
}

.p15{
  padding:15px;
}

.p20{
  padding:20px;
}
.p30{
  padding:30px;
}
.pr5{
  padding-right:5px;
}

.pl5{
  padding-left:5px;
}

.pl10{
  padding-left:10px;
}
.pl20{
  padding-left:20px;
}

.pt5{
  padding-top:5px;
}

.pt10{
  padding-top: 10px;
}

.pt15{
  padding-top: 15px;
}

.pt20{
  padding-top: 20px;
}
.pt30{
  padding-top: 30px;
}
.pb5{
  padding-bottom:5px;
}

.pb10{
  padding-bottom:10px;
}

.pb20{
  padding-bottom:20px;
}
.pb30{
  padding-bottom:30px;
}

.pb40{
  padding-bottom:40px;
}

.pb45{
  padding-bottom:45px;
}

.w150{
  width:150px
}

.justify-between{
  display:flex;
  justify-content: space-between;
}

.justify-center{
  display:flex;
  justify-content: center;
}

.justify-start{
  display:flex;
  justify-content: start;
}

.justify-around{
  display:flex;
  justify-content: space-around;
}

.ly{
  display:flex;
  justify-content: space-evenly;
}

.w200{
  width:200px
}

.w100c{
  width:'100%';
}

.w50c{
  width:'50%';
}

.w60c{
  width:'60%';
}

.w80c{
  width:'80%';
}
.w70c{
  width:'70%';
}

.pointer{
  cursor:pointer;
}

input[type="file"] {
    display: none;
}

.hidden{
  display:none;
}

.autocomplete-dropdown-container{
  padding:5px;
  border: 1px solid lightblue;
}


#toggle-button{
  background-color: white;
}

#toggle-button:focus,#toggle-button:active {
  outline: none !important;
  box-shadow: none;
}

#toggle-button:hover{
  background-color: lightgray;
}

#display-right-for-40 {
  display: block;
}


#hide-left-for-40{
  display: none;
}


@media only screen and (max-width: 48em) {
      #display-right-for-40 {
        display: none;
      }

      #hide-left-for-40{
        display: block;
      }

      #update-contact-button{
        width:150px;
      }
  }

@media only screen and (max-width: 75em) {
  .w200.shrink{
    width:160px;
  }
}



@media only screen and (max-width:61.95em){
  .top{
    order:1;
  }

  .bot{
    order:2;
  }
}

.align-responsive{
  text-align:left;
}

@media only screen and (max-width:47.9em){
  .top{
    order:2;
  }

  .bot{
    order:1;
  }

  .align-responsive{
    text-align:center;
  }
}

#overview-preview-card{
  width:38rem;
}

@media only screen and (max-width:39em){
  #therapist-card{
    display:none;
  }
  #overview-preview-card{
    width:100em;
  }

}

.overview-preview-wrap{
  padding-left:0px;
  padding-right:0px;
  margin-top: 20px;
}

.overview-trailer-wrap{
  padding-left:0px;
  padding-right:0px;
  align-items:center;
  margin-top:20px;
}

.responsive-md-width{
  width:100%;
}




@media screen and (max-width: 990px){
  .overview-trailer-wrap{
    padding-left:15px;
    padding-right:15px;
    margin-top:0px;
  }

  .responsive-md-width{
    width:55em;
  }
}

@media screen and (max-width: 850px){
  .responsive-md-width{
    width:100%;
  }
}


.overview-section-title{
  height:50px;
  border-bottom:1px solid lightgray;
}

.search-preview-wrap{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-box{
  padding:15px;
  width:80%;
  height:auto;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#edebeb;
}

.overlay-content {
  left:10%;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 5px 0px 20px 0px;
}

@media screen and (max-height: 650px){
  .overlay-content{
    margin: 40px 0px 40px 0px;
  }
}

@media screen and (max-height: 430px){
  .overlay-content{
    margin: 80px 0px 40px 0px;
  }

}

.radius-button{
  border-radius:20px;
  color:white;
}

.question-mark{
  padding-bottom:8px;
  cursor:pointer;
}


.login-card{
  width:350px;
  height: 300px;
  border-radius: 30px;
  background-color: white;
  height:550px;
  padding:20px;
}

.login-input{
  box-shadow: 0 1px 0 0 lightgray;
  border: none;
  border-radius:20px;
  font-size: 15px;
  width: 100%;
  outline: 0;
  /* background: none; */
  padding: 1%;
  height: 40px;
}

.login-input:hover{
  box-shadow: 0 2px 0 0 #9f00be;
}

.login-input:focus{

  outline: none !important;
  box-shadow: 0 2px 0 0 #9f00be;

}


.logbtn{
  border-radius: 40px;
  width: 70%;
  height: 50px;
  border: none;
  background: linear-gradient(90deg,#eb8ff3,#9f00be,#4b0669);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .6s;
}

.logbtn:hover{
  background-position: right;
}

.login-icon{
  position: relative !important;
  left:37;
  z-index: 3 !important;
  top:7 !important;
}



.hover-img-request-page{
  transition: .5s ease;
  opacity: 0;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.upload-card{
  border-radius: 30px;
  padding:8px;
  width: 60px; 
  height:60px;
  border: block;
  border-style: solid;
  border-width: 2px;
  border-color: #8a01a56c;

}

.upload-card:hover{
  border-color: #9f00be;
  box-shadow: 0 1px 0 0 lightgray;
}

.upload-card:hover .hover-img-request-page{
  opacity: 0.4;
}

.upload-img{
  width:40px;
  height:40px;
}

.upload-card:hover .upload-img{
  opacity: 0.15;
}

.register-input{
  margin-top:15px;
  margin-left: 10px;
}

.req-card{
  /* background-image: url("images/requestPageBackground.png");
  background-size: cover; */


}

.reg-input{
  font-size: 16px !important;
  box-shadow: 0 1px 0 0 lightgray;
  border-width: 0.6px;
  border: block;
  border-color: #9e00be6c; 
  border-radius:15px;
  font-size: 15px;
  width: 100%;
  outline: 0;
  /* background: none; */
  padding: 1%;
  height: 40px;
}

.reg-input:hover{
  box-shadow: 0 1.5px 0 0 #9f00be;
  border-color: #9f00be; 
}

.reg-input:focus{

  outline: none !important;
  box-shadow: 0 3px 0 0 #9f00be;

}

.reg-check-box{
  margin:15px;
  padding-top: 1px;

}

.regbtn{
  border-radius: 40px;
  width: 40%;
  height: 50px;
  border: none;
  background: linear-gradient(90deg,#eb8ff3,#9f00be,#4b0669);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .6s;
}

.regbtn:hover{
  background-position: right;
}
